<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="repository_owner" value="dscoduc"/>
    <add key="repository_name" value="PowerShellScripts"/>

    <add key="committer_name" value="MyWebServer" />
    <add key="committer_email" value="support@mail.com"/>
    <add key="commit_message" value="Committed via Automated Server" />
        
    <add key="auth_username" value="dscoduc" />
    <add key="auth_token" value="0000000000000000000000000000000000000000" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
